<div class="card my-5">
    <div class="card-body">
      <table class="table table-bordered table-striped">
        <thead class="thead-dark">
          <tr>
            <th scope="col">#</th>
            <th scope="col">Name</th>
            <th scope="col">Email</th>
            <th scope="col">Action</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let user of users">
            <td>{{ user.id }}</td>
            <td>{{ user.name }}</td>
            <td><a href="mailto:{{ user.email }}">{{ user.email }}</a></td>
            <td>
              <button class="m-6 btn btn-sm btn-primary" (click)="removeAllTutorials()">
                Edit
              </button>

              &nbsp;&nbsp;
              <br>
              <br>

              <button class="m-6 btn btn-sm btn-danger" (click)="removeAllTutorials()">
                Delete
              </button>
              
          </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
